<div class="uk-grid-small uk-child-width-1-2@s uk-flex-center uk-text-center" uk-grid>
	<div>
		<div class="uk-card uk-card-default uk-card-body">
			<form id="login-form">

				<div class="center-div">
					<div class="uk-margin">
						<div class="uk-inline">
							<span class="uk-form-icon" uk-icon="icon: user"></span>
							<input class="uk-input" placeholder="ID" type="text">
						</div>
					</div>

					<div class="uk-margin">
						<div class="uk-inline">
							<span class="uk-form-icon" uk-icon="icon: lock"></span>
							<input class="uk-input" placeholder="Password" type="password">
						</div>
					</div>

					<div class="uk-inline">
						<button class="uk-button uk-button-primary uk-button-small">Login</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
