<div id="background-card" class="uk-card uk-card-default uk-card-body uk-flex-center card-slim">

  <div>
    <button onclick="window.location.href='#!inventory-create'" class="uk-button uk-button-primary uk-button-small wide-button">New Item</button>
    <button onclick="window.location.href='#!inventory-search'" class="uk-button uk-button-primary uk-button-small wide-button">Search</button>
  </div>

  <hr class="uk-divider-icon">

  <form ng-submit="SearchItem()">

    <div class="center-div">
      <div class="uk-margin">
        <p class="uk-text-muted">Search:</p>
        <div class="uk-inline">
          <span class="uk-form-icon uk-icon" uk-icon="icon: search"></span>
          <input class="uk-input input-field short-text-box" ng-model="searchItemData.search" placeholder="Search" type="text">
          <button type="submit" class="uk-button uk-button-primary uk-button-small">Search</button>
        </div>
      </div>
    </div>

  </form>

</div>
