<div id="background-card" class="uk-card uk-card-default uk-card-body uk-flex-center card-slim">

  <div>
    <button onclick="window.location.href='#!inventory-create'" class="uk-button uk-button-primary uk-button-small wide-button">New Item</button>
    <button onclick="window.location.href='#!inventory-search'" class="uk-button uk-button-primary uk-button-small wide-button">Search</button>
  </div>

  <hr class="uk-divider-icon">

  <form ng-submit="ClearItem()">

    <div class="center-div">
      <div class="uk-margin">
        <p class="uk-text-muted">Search:</p>
        <div class="uk-inline">
          <span class="uk-form-icon uk-icon" uk-icon="icon: search"></span>
          <input id="search-box" class="uk-input input-field short-text-box" ng-model="searchItemData.search" placeholder="Search" type="text">
          <button type="submit" class="uk-button uk-button-primary uk-button-small">Clear</button>
        </div>
      </div>
    </div>

  </form>



  <table id="search-table" class="uk-table uk-table-striped uk-table-small uk-table-middle table-scrollable">
    <thead>
      <tr>
        <th class="uk-table-shrink arrow-fix">
          <a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse">
              ID
              <span ng-show="sortType == 'id' && !sortReverse" uk-icon="icon: triangle-down"></span> <!-- Only display if this column is being sorted, and it is in the normal order. -->
              <span ng-show="sortType == 'id' && sortReverse" uk-icon="icon: triangle-up"></span> <!-- Only display if this column is being sorted, and it is in a reversed order. -->
            </a>
        </th>
        <th class="uk-table-expand">
          <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
              Name
              <span ng-show="sortType == 'name' && !sortReverse" uk-icon="icon: triangle-down"></span> <!-- Only display if this column is being sorted, and it is in the normal order. -->
              <span ng-show="sortType == 'name' && sortReverse" uk-icon="icon: triangle-up"></span> <!-- Only display if this column is being sorted, and it is in a reversed order. -->
            </a>
        </th>
        <th class="uk-table-shrink arrow-fix">
          <a href="" ng-click="sortType = 'price'; sortReverse = !sortReverse">
              Price
              <span ng-show="sortType == 'price' && !sortReverse" uk-icon="icon: triangle-down"></span> <!-- Only display if this column is being sorted, and it is in the normal order. -->
              <span ng-show="sortType == 'price' && sortReverse" uk-icon="icon: triangle-up"></span> <!-- Only display if this column is being sorted, and it is in a reversed order. -->
            </a>
        </th>
        <th class="uk-table-expand">
          <a href="" ng-click="sortType = 'description'; sortReverse = !sortReverse">
              Description
              <span ng-show="sortType == 'description' && !sortReverse" uk-icon="icon: triangle-down"></span> <!-- Only display if this column is being sorted, and it is in the normal order. -->
              <span ng-show="sortType == 'description' && sortReverse" uk-icon="icon: triangle-up"></span> <!-- Only display if this column is being sorted, and it is in a reversed order. -->
            </a>
        </th>
        <th class="uk-table-shrink">
          <a href="" ng-click="sortType = 'barcode'; sortReverse = !sortReverse">
              Barcode
              <span ng-show="sortType == 'barcode' && !sortReverse" uk-icon="icon: triangle-down"></span> <!-- Only display if this column is being sorted, and it is in the normal order. -->
              <span ng-show="sortType == 'barcode' && sortReverse" uk-icon="icon: triangle-up"></span> <!-- Only display if this column is being sorted, and it is in a reversed order. -->
            </a>
        </th>
        <th class="uk-table-shrink"><a href="">Edit</a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items | orderBy:sortType:sortReverse | filter:searchItemData.search | limitTo:10"> <!-- Order and filter the items displayed to the user, limit the results to 10 items. -->
        <td>{{ item.id }}</td>
        <td>{{ item.name | limitTo: 40 }}{{item.name.length > 40 ? '...' : ''}}</td> <!-- Truncate name to 40 characters long, if it exceeds this limit then add '...' to the end of the string -->
        <td>{{ item.price  | currency : "£" : 2}}</td>
        <td>{{ item.description | limitTo: 150 }}{{item.description.length > 150 ? '...' : ''}}</td> <!-- Truncate description to 150 characters long, if it exceeds this limit then add '...' to the end of the string -->
        <td>{{ item.barcode }}</td>
        <td><button ng-click="EditItem(item)" type="submit" class="uk-button uk-button-primary uk-button-small">Edit</button></td> <!-- Add an edit button for each row, this uses an ng-click directive to call the Search. -->
      </tr>
    </tbody>
  </table>

  <p ng-model="info">{{info}}{{results}}</p>

</div>
