:root {
  --link: rgba(0,0,0,.35);
  --link-hover: rgba(0,0,0,.5);
  --white: rgba(255,255,255,.8);
  --white-sec: rgba(255,255,255,.25);
  --white-link: rgba(255,255,255,.6);
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 16px;
  background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  /* margin: 0; */
  font-weight: 500;
}

a {
  color: var(--link);
}

a:focus, a:hover {
  color: var(--link-hover);
}

.navbar {
  box-shadow: none;
  position: fixed;
  width: 100%;
  background-color: white;
  height: 80px;
}

.nav-item {
  top: 40px;
  transform: translate(0, -50%);
}

.my-name {
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 0.2rem;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40px;
  position: fixed;
  margin: 0;
  white-space: nowrap;
}

.social-icons {
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 20px;
}

.social-icons a {
  margin: 0 10px 0 10px;
}

.content {
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100% - 80px);
  overflow: auto;
}

.section {
  max-width: 950px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 100px 200px 100px 200px;
}

.education {
  background-color: #455A64;
  color: var(--white);
}

.projects {
  background-color: #424242;
  color: var(--white);
}

.work-history {
  background-color: #455A64;
  color: var(--white);
}

.contact {
  background-color: #424242;
  color: var(--white);
}

.experience {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.timeline {
  margin-right: 10px;
}

.timeline * {
  color: var(--white-sec);
}

.line {
  position: relative;
  width: 0px;
  border: 1px solid var(--white-sec);
  left: 50%;
  height: calc(100% + 20px);
  transform: translateX(-50%);
}

.line-horizontal {
  position: relative;
  height: 0px;
  border-top: 1px solid var(--white-sec);
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.project {
  margin-top: 10px;
  padding-bottom: 20px;
}

.section-title {
  letter-spacing: 0.2rem;
  margin-bottom: 50px;
}

.section-title::after {
  display: grid;
  position: relative;
  top: 10px;
  content: "";
  width: 400px;
  border-bottom: 1px solid var(--white);
}

.experience-content h4 {
  letter-spacing: 0.1rem;
  margin: 30px 0 5px 0;
}

.experience-content p {
  margin: 10px 0 10px 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.a-button, .a-button:visited, .a-button:active  {
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: var(--white-link);
  border: 1px solid var(--white-link);
  transition: 0.3s;
}

.a-button:hover {
  border-color: var(--white);
  color: var(--white);
}

.experience-footer {
  margin-top: 30px;
}

.experience-footer .a-button {
  margin-bottom: 10px;
}

.link, .link:visited, .link:active {
  color: var(--white-link);
  transition: 0.3s;
}

.link:hover {
  color: var(--white);
}

.email {
  /* text-decoration: none; */
}

.copyright {
  color: var(--white-sec);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  white-space: nowrap;
}

.experience-header {
  line-height: 1.5rem;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: var(--white-sec);
  border: 1px solid var(--white-sec);
}

/* Pills */

.pills {
  margin-bottom: 20px;
}

.pill {
  font-size: 11px;
  padding: 6px;
  margin: 10px 10px 0 0;
  text-decoration: none;
  color: var(--white-link);
  border: 1px solid var(--white-link);
  transition: 0.3s;
  background-color: rgba(55,71,79,.2);
}

.pill-php, .pill-php:visited, .pill-php:active {
  color: rgba(149, 117, 205, 0.75);
  border: 1px solid rgba(149, 117, 205, 0.75);
}

.pill-php:hover{
  color: rgba(149, 117, 205, 1);
  border: 1px solid rgba(149, 117, 205, 1);
}

.pill-js, .pill-js:visited, .pill-js:active {
  color: rgba(251,140,0,.75);
  border: 1px solid rgba(251,140,0,.75);
}

.pill-js:hover{
  color: rgba(251,140,0,.9);
  border: 1px solid rgba(251,140,0,.9);
}

.pill-html, .pill-html:visited, .pill-html:active {
  color: rgba(76,175,80,.75);
  border: 1px solid rgba(76,175,80,.75);
}

.pill-html:hover{
  color: rgba(76,175,80,1);
  border: 1px solid rgba(76,175,80,1);
}

.pill-css, .pill-css:visited, .pill-css:active {
  color: rgba(205,220,57,.75);
  border: 1px solid rgba(205,220,57,.75);
}

.pill-css:hover{
  color: rgba(205,220,57,1);
  border: 1px solid rgba(205,220,57,1);
}

.pill-sql, .pill-sql:visited, .pill-sql:active {
  color: rgba(244,67,54,.7);
  border: 1px solid rgba(244,67,54,.7);
}

.pill-sql:hover{
  color: rgba(244,67,54,.85);
  border: 1px solid rgba(244,67,54,.85);
}

.pill-node, .pill-node:visited, .pill-node:active {
  color: rgba(33,150,243,.8);
  border: 1px solid rgba(33,150,243,.8);
}

.pill-node:hover{
  color: rgba(33,150,243,1);
  border: 1px solid rgba(33,150,243,1);
}


/*/////// Custom Scrollbar ////////*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--link);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--link-hover);
}

/*
CSS Alterations For Mobile Devices
Such as reducing/removing margin to maximise content density.
*/
@media (max-width: 991.98px) {

  .my-name {
    top: 30px;
  }

  .navbar {
    height: 100px;
  }

  .social-icons {
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    right: auto;
  }

  .content {
    top: 100px;
    height: calc(100% - 100px);
  }

  .section {
    padding: 50px 25px 50px 25px;
  }

  .section-title::after {
    width: 200px;
  }

  .emails {
    display: flex;
    flex-direction: column;
  }
  .emails span {
    margin-top: 4px;
  }

}
