:root {
  --link: rgba(0, 0, 0, .35);
  --link-hover: rgba(0, 0, 0, .5);
  --white: rgba(255, 255, 255, .8);
  --white-sec: rgba(255, 255, 255, .25);
  --white-link: rgba(255, 255, 255, .6);
  --navbar-background-color: #ffffff;
  --body-background-color: #eeeeee;
  --shape-border-radius: 8px;
  --shape-sections-gap: 60px;
}

/* prefers dark theme media query */
/* @media (prefers-color-scheme: dark) {
  :root {
    --link: rgba(0,0,0,.35);
    --link-hover: rgba(0,0,0,.5);
    --white: rgba(255,255,255,.8);
    --white-sec: rgba(255,255,255,.25);
    --white-link: rgba(255,255,255,.6);
    --navbar-background-color: #444444;
    --body-background-color: #333333;
  }
} */

body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 16px;
  background-color: var(--body-background-color);
  display: grid;
  grid-template-areas:
    "navbar"
    "content";
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 500;
}

a {
  color: var(--link);
}

a:focus,
a:hover {
  color: var(--link-hover);
}

.navbar {
  box-shadow: none;
  position: relative;
  width: 100%;
  background-color: var(--navbar-background-color);
  height: 80px;
  border-bottom-left-radius: var(--shape-border-radius);
  border-bottom-right-radius: var(--shape-border-radius);
  display: grid;
  grid-template-areas: ". name links";
  grid-template-columns: 1fr max-content 1fr;
  box-sizing: border-box;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.my-name {
  position: relative;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 0.2rem;
  margin: 0;
  white-space: nowrap;
  grid-area: name;
  justify-self: center;
}

.social-icons {
  position: relative;
  display: flex;
  flex-direction: row;
  grid-area: links;
  justify-self: right;
}

.social-icons a {
  margin: 0 10px 0 10px;
}

.content {
  position: relative;
  width: 100%;
  overflow: auto;
  display: grid;
  justify-content: center;
  gap: var(--shape-sections-gap);
  padding-top: var(--shape-sections-gap);
  padding-bottom: var(--shape-sections-gap);
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

.section {
  max-width: 950px;
  position: relative;
  /* left: 50%;
  transform: translateX(-50%); */
  padding: 50px 150px 50px 150px;
  border-radius: var(--shape-border-radius);
  box-shadow: rgba(69, 69, 75, 0.5) 0px 7px 29px 0px;
  /* margin-top: var(--shape-sections-gap); */
}

/* .section:last-of-type {
  margin-bottom: var(--shape-sections-gap);
} */

a,
img {
  border-radius: var(--shape-border-radius);
}

.blue-section {
  background-color: #455A64;
  color: var(--white);
}

.black-section {
  background-color: #424242;
  color: var(--white);
}

.experience {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.timeline {
  margin-right: 10px;
}

.timeline * {
  color: var(--white-sec);
}

.line {
  position: relative;
  width: 0px;
  border: 1px solid var(--white-sec);
  left: 50%;
  height: calc(100% + 20px);
  transform: translateX(-50%);
}

.line-horizontal {
  position: relative;
  height: 0px;
  border-top: 1px solid var(--white-sec);
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.project {
  margin-top: 10px;
  padding-bottom: 20px;
}

.section-title {
  letter-spacing: 0.2rem;
  margin-bottom: 50px;
}

.section-title::after {
  display: grid;
  position: relative;
  top: 10px;
  content: "";
  width: 400px;
  border-bottom: 1px solid var(--white);
}

.experience-content h4 {
  letter-spacing: 0.1rem;
  margin: 30px 0 5px 0;
}

.experience-content p {
  margin: 10px 0 10px 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.a-button,
.a-button:visited,
.a-button:active {
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: var(--white-link);
  border: 1px solid var(--white-link);
  transition: 0.3s;
}

.a-button:hover {
  border-color: var(--white);
  color: var(--white);
}

.experience-footer {
  margin-top: 30px;
}

.experience-footer .a-button {
  margin-bottom: 10px;
}

.link,
.link:visited,
.link:active {
  color: var(--white-link);
  transition: 0.3s;
}

.link:hover {
  color: var(--white);
}

.email {
  /* text-decoration: none; */
}

.copyright {
  color: var(--white-sec);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  white-space: nowrap;
}

.experience-header {
  line-height: 1.5rem;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: var(--white-sec);
  border: 1px solid var(--white-sec);
}

.project-image {
  width: 500px;
  height: auto;
}

.project h4 {
  margin-bottom: 10px;
}

.vertical-nav {
  display: grid;
  gap: 15px;
  justify-content: center;
  justify-items: center;
  grid-template-columns: min-content;
}

.vertical-nav-button {
  font-size: 0.8rem;
  text-transform: uppercase;
  width: 100%;
  padding: 0.7rem 1rem 0.7rem 1.2rem;
  text-decoration: none;
  /* #424242 */
  color: #323232;
  border: 1px solid #323232;
  transition: 0.3s;
  text-align: center;
  /* background-color: rgba(55, 71, 79, .2); */
  border-radius: 40px;
  font-weight: 700;
  display: grid;
  grid-template-columns: auto 20px;
  justify-items: center;
  box-sizing: border-box;
  gap: 20px;
}

.vertical-nav-button i {
  font-size: 0.9rem;
}

.vertical-nav-button:hover {
  /* color: #888;
  border-color: #888; */
  color: var(--white);
  border-color: #455A64;
  background-color: #455A64;
}

/* Pills */

.pills {
  margin-bottom: 20px;
}

.pill {
  font-size: 11px;
  padding: 6px;
  margin: 10px 10px 0 0;
  text-decoration: none;
  color: var(--white-link);
  border: 1px solid var(--white-link);
  transition: 0.3s;
  background-color: rgba(55, 71, 79, .2);
}

.pill-php,
.pill-php:visited,
.pill-php:active {
  color: rgba(149, 117, 205, 0.75);
  border: 1px solid rgba(149, 117, 205, 0.75);
}

.pill-php:hover {
  color: rgba(149, 117, 205, 1);
  border: 1px solid rgba(149, 117, 205, 1);
}

.pill-js,
.pill-js:visited,
.pill-js:active {
  color: rgba(251, 140, 0, .75);
  border: 1px solid rgba(251, 140, 0, .75);
}

.pill-js:hover {
  color: rgba(251, 140, 0, .9);
  border: 1px solid rgba(251, 140, 0, .9);
}

.pill-html,
.pill-html:visited,
.pill-html:active {
  color: rgba(76, 175, 80, .75);
  border: 1px solid rgba(76, 175, 80, .75);
}

.pill-html:hover {
  color: rgba(76, 175, 80, 1);
  border: 1px solid rgba(76, 175, 80, 1);
}

.pill-css,
.pill-css:visited,
.pill-css:active {
  color: rgba(205, 220, 57, .75);
  border: 1px solid rgba(205, 220, 57, .75);
}

.pill-css:hover {
  color: rgba(205, 220, 57, 1);
  border: 1px solid rgba(205, 220, 57, 1);
}

.pill-sql,
.pill-sql:visited,
.pill-sql:active {
  color: rgba(244, 67, 54, .7);
  border: 1px solid rgba(244, 67, 54, .7);
}

.pill-sql:hover {
  color: rgba(244, 67, 54, .85);
  border: 1px solid rgba(244, 67, 54, .85);
}

.pill-node,
.pill-node:visited,
.pill-node:active {
  color: rgba(33, 150, 243, .8);
  border: 1px solid rgba(33, 150, 243, .8);
}

.pill-node:hover {
  color: rgba(33, 150, 243, 1);
  border: 1px solid rgba(33, 150, 243, 1);
}


/*/////// Custom Scrollbar ////////*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--link);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--link-hover);
}

/*
CSS Alterations For Mobile Devices
Such as reducing/removing margin to maximise content density.
*/
@media (max-width: 991.98px) {

  .navbar {
    height: 100px;
  }

  .navbar {
    display: grid;
    height: 100px;
    grid-template-areas:
      "name"
      "links";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .social-icons {
    justify-self: center;
  }

  .section {
    padding: 50px 25px 50px 25px;
  }

  .section-title::after {
    width: 200px;
  }

  .emails {
    display: flex;
    flex-direction: column;
  }

  .emails span {
    margin-top: 4px;
  }

  .project-image {
    width: 100%;
    height: auto;
  }

}