<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="row" id="project-card-block">

  <div class="col-auto">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/website.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Task Manager <span class="badge badge-warning">New</span></h5>
        <p class="card-text">Create checklists with different descriptions and status.</p>
        <a href="#" class="btn btn-primary">Open</a>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/website.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Personal Pastebin <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Paste your code, save it and even share it!</p>
        <a href="#" class="btn btn-primary">Open</a>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/website.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Another Project <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Wow, aren't these descriptions getting generic nowadays.</p>
        <a href="#" class="btn btn-primary">Open</a>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/website.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Another Project <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Wow, aren't these descriptions getting generic nowadays.</p>
        <a href="#" class="btn btn-primary">Open</a>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/website.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Another Project <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Wow, aren't these descriptions getting generic nowadays.</p>
        <a href="#" class="btn btn-primary">Open</a>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/website.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Another Project <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Wow, aren't these descriptions getting generic nowadays.</p>
        <a href="#" class="btn btn-primary">Open</a>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/website.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Another Project <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Wow, aren't these descriptions getting generic nowadays.</p>
        <a href="#" class="btn btn-primary">Open</a>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/website.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Another Project <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Wow, aren't these descriptions getting generic nowadays.</p>
        <a href="#" class="btn btn-primary">Open</a>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/website.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Another Project <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Wow, aren't these descriptions getting generic nowadays.</p>
        <a href="#" class="btn btn-primary">Open</a>
      </div>
    </div>
  </div>

</div>
