<div id="background-card" class="uk-card uk-card-default uk-card-body uk-flex-center card-slim">

  <div>
    <button onclick="window.location.href='#!inventory-search'" class="uk-button uk-button-primary uk-button-small wide-button">Search</button>
    <button onclick="window.location.href='#!inventory-create'" class="uk-button uk-button-primary uk-button-small wide-button">New Item</button>
    <button onclick="window.location.href='#!inventory-update'" class="uk-button uk-button-primary uk-button-small wide-button">Update Item</button>
  </div>

  <hr class="uk-divider-icon">

  <form ng-submit="UpdateItem()">

    <div class="center-div">
      <div class="uk-margin">
        <p class="uk-text-muted">Update an existing item:</p>
        <input class="uk-input input-field short-text-box bottom-margin" ng-model="updateItemData.itemID" placeholder="ID" type="text"><br />
        <div class="uk-inline bottom-margin">
          <input class="uk-input input-field short-text-box" ng-model="updateItemData.name" placeholder="Name" type="text">
          <input class="uk-input input-field short-text-box" ng-model="updateItemData.price" placeholder="Price" type="text">
          <input class="uk-input input-field short-text-box" ng-model="updateItemData.barcode" placeholder="Barcode" type="text">
        </div>
        <textarea class="uk-textarea bottom-margin" ng-model="updateItemData.description" rows="5" placeholder="Description"></textarea>
        <button type="submit" class="uk-button uk-button-primary uk-button-small wide-button">Update</button>
        <p ng-model="info">{{info}}{{results}}</p>
      </div>
    </div>

  </form>

</div>
