<div class="uk-card uk-card-default uk-card-body uk-position-center uk-flex-center card-slim">

  <form class="card-form" ng-submit="processOrganisation()">

    <div class="center-div">
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: unlock"></span>
          <input id="organisation-search" class="uk-input input-field" ng-model="organisationData.key" placeholder="Key" type="text">
          <button id="organisation-button" type="submit" class="uk-button uk-button-primary uk-button-small">Use</button>
        </div>
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: search"></span>
          <input id="organisation-search" class="uk-input input-field" ng-model="organisationData.id" placeholder="ID" type="text">
          <button id="organisation-button" type="submit" class="uk-button uk-button-primary uk-button-small">Search</button>
        </div>
      </div>
    </div>

  </form>

  <p ng-model="info">{{info}}{{results}}</p>

</div>
