<div class="uk-card uk-card-default uk-card-body uk-position-center uk-flex-center card-slim">

  <form class="card-form" ng-submit="processOrganisation()">

    <div class="center-div">
      <div class="uk-margin">
        <p class="uk-text-center uk-text-meta">You are not part of an organisation.</p>
        <p class="uk-text-center uk-text-meta">Either ask an administrator to add you to an existing organisation.</p>
        <hr class="uk-divider-small uk-text-center">
        <p class="uk-text-center uk-text-meta">Or create a new organisation.</p>
      </div>

      <div class="uk-margin">
        <div class="uk-inline horizontal-center">
            <span class="uk-form-icon" uk-icon="icon: pencil"></span>
            <input id="organisation-search" class="uk-input input-field" ng-model="organisationData.name" placeholder="Organisation Name" type="text">
        </div>
      </div>

      <div class="uk-inline horizontal-center">
        <button id="login-button" type="submit" class="uk-button uk-button-primary uk-button-small">Create</button>
      </div>
    </div>

  </form>

  <p ng-model="info">{{info}}{{results}}</p>

</div>
