<div class="uk-card uk-card-default uk-card-body uk-position-center uk-flex-center uk-text-center card-slim">

  <form class="card-form" ng-submit="processLogin()">

    <div class="center-div">
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input input-field" ng-model="loginData.id" placeholder="ID / Email" type="text" required>
        </div>
      </div>

      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input class="uk-input input-field" ng-model="loginData.password" placeholder="Password" type="password" required>
        </div>
      </div>

      <div class="uk-inline">
        <button id="login-button" type="submit" class="uk-button uk-button-primary uk-button-small">Login</button>
      </div>

      <div class="form-footer">
        <a href="#!register">New administrator? Register!</a><br />
        <a href="#!key">Authenticate device!</a>
      </div>
    </div>

  </form>

  <p ng-model="info">{{info}}{{results}}</p>

</div>
