<div id="background-card" class="uk-card uk-card-default uk-card-body uk-flex-center card-slim">

  <div>
    <button onclick="window.location.href='#!query-search'" class="uk-button uk-button-primary uk-button-small wide-button">Search</button>
  </div>

  <hr class="uk-divider-icon">

  <form ng-submit="UpdateQuery()">

    <div class="center-div">
      <div class="uk-margin">
        <b><p class="uk-text-muted">Update an existing item:</p></b>
        <p class="uk-text-muted">Item ID: {{updateQueryData.itemID}}</p>
        <p class="uk-text-muted">Name: {{updateQueryData.name}}</p>
        <p class="uk-text-muted">Price: {{updateQueryData.price | currency : "£" : 2}}</p>
        <p class="uk-text-muted">Barcode: {{updateQueryData.barcode}}</p>
        <p class="uk-text-muted">Description: {{updateQueryData.description}}</p>
        <p class="uk-text-muted">Location: <input id="location" class="uk-input input-field short-text-box" ng-model="updateQueryData.location" placeholder="Location" type="text"></p>
        <p class="uk-text-muted">Quantity: <input id="quantity" class="uk-input input-field short-text-box" ng-model="updateQueryData.quantity" placeholder="Quantity" type="text"></p>
        <button type="submit" class="uk-button uk-button-primary uk-button-small wide-button">Update</button>
        <p ng-model="info">{{info}}{{results}}</p>
      </div>
    </div>

  </form>

</div>


</div>
