/* Element Selector */

html {
  line-height: 1.25;
}

/* ID Selector */

#top-nav {
  background: #00a0df;
  box-shadow: none;
  height: 50px;
}

#side-nav {
  box-shadow: none;
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 50px;
  background: #11181c;
}

#dynamic-canvas {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 50px;
  right: 0px;
  padding: 10px;
  background: #cdcfd4;
}

#nav-logo {
  width: 45px;
  height: 45px;
  padding-left: 3px;
  padding-right: 0px;
}

#nav-name {
  line-height: 1;
  margin-top: 0px;
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 10px;
}

#side-nav-icon-top {
  padding-top: 5px;
}

#top-nav-logout {
  margin-top: 25px;
  margin-right: 9px;
  margin-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

#top-nav-logout:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

#login-form {
  margin: 0 auto;
  width: 300px;
}

#login-button {
  width: 150px;
}

#background-card {
  width: 100%;
  height: 100%;
  padding: 20px;
}

#query-search {
  height: 31px;
}

/* Class Selector */

.uk-navbar-nav>li>a {
  padding-left: 10px;
  padding-right: 10px;
}

.uk-navbar-nav>li>button, .uk-navbar-nav>li>a {
  color: rgba(255, 255, 255, 0.8);
}

.uk-navbar-nav>li>a:hover, .uk-navbar-nav>li.uk-active>a, .uk-logo:hover, .uk-nav>li>a:hover, .uk-nav>li.uk-active>a, .uk-navbar-nav>li>button:hover {
  color: rgba(255, 255, 255, 1);
}

.nav-divider {
  padding-left: 4px;
  padding-right: 0px;
  height: 40px;
}

.side-nav-icon {
  padding-left: 7px;
  padding-bottom: 10px;
}

.center-div {
  margin: 0 auto;
}

.card-slim {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-footer {
  margin-top: 10px;
}

.input-field {
  width: 300px;
}

/* Colour Palette*/

.color-1 {
  background: #00a0df;
}

.color-2 {
  background: #11181c;
}

.color-3 {
  background: #a9afb1;
}

.color-4 {
  background: #FFFFFF;
}

.text-1 {
  color: #FFFFFF;
}

.text-2 {
  color: #a9afb1;
}
