.side-nav{
  box-shadow: none;
  top: 50px;
  width: 50px;
  background: #11181c
}

.dynamic_canvas{
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 50px;
  right: 0px
}

nav .brand-logo{
  left: 0px
}

nav{
  background: #00a0df;
  box-shadow: none;
  height: 50px
}

/* Colour Palette*/

.color-1 { background: #00a0df }
.color-2 { background: #11181c }
.color-3 { background: #a9afb1 }
.color-4 { background: #FFFFFF }

.text-1 { color: #FFFFFF }
.text-2 { color: #a9afb1 }