#top-nav{
	background: #00a0df;
	box-shadow: none;
	height: 50px
}

#side-nav{
	box-shadow: none;
	position: fixed;
	top: 50px;
	bottom: 0;
	width: 50px;
	background: #11181c
}

#dynamic-canvas{
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 50px;
	right: 0px
}

.uk-navbar-nav>li>a {
	color: rgba(255, 255, 255, 0.8)
}

.uk-navbar-nav>li>a:hover, .uk-navbar-nav>li.uk-active>a, .uk-logo:hover {
	color: rgba(255, 255, 255, 1)
}

#nav-logo{
	width: 45px;
	height: 45px;
	padding-left: 5px;
	padding-right: 0px
}

#nav-name{
	line-height: 1;
	margin-top: 0px;
	font-size: 20px;
	text-transform: uppercase
}

/* Colour Palette*/

.color-1 { background: #00a0df }
.color-2 { background: #11181c }
.color-3 { background: #a9afb1 }
.color-4 { background: #FFFFFF }

.text-1 { color: #FFFFFF }
.text-2 { color: #a9afb1 }