:root {
  --link: rgba(0,0,0,.35);
  --link-hover: rgba(0,0,0,.5);
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 16px;
  background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  /* margin: 0; */
  font-weight: 500;
}

a {
  color: var(--link);
}

a:focus, a:hover {
  color: var(--link-hover);
}

.navbar {
  box-shadow: none;
  position: fixed;
  width: 100%;
  background-color: white;
  height: 80px;
}

.nav-item {
  top: 40px;
  transform: translate(0, -50%);
}

.my-name {
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40px;
  position: fixed;
  margin: 0;
}

.social-icons {
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 20px;
}

.social-icons a {
  padding: 0 8px 0 8px;
}

.content {
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100% - 80px);
  overflow: auto;
}

.section {
  max-width: 800px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* margin: 0 200px 0 200px; */
  padding: 0 200px 0 200px;
}

.education {
  /* background-color: red; */
}

.experience {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.timeline {
  margin-right: 10px;
}

.line {
  position: relative;
  width: 0px;
  border: 1px solid rgba(0,0,0,.35);
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--link);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--link-hover);
}

/*
CSS Alterations For Mobile Devices
Such as reducing/removing margin to maximise content density.
*/
@media (max-width: 991.98px) {
  #my-name {
    left: 25px;
    transform: translate(0, -50%);
  }

  .section {
    margin: 0;
  }
}
