<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-personal">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-nav" aria-controls="top-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#!dashboard">Project Dashboard</a>

  <!-- Navbar Links -->
  <div class="collapse navbar-collapse" id="top-nav">

    <!-- Left-Hand Side -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#!pastebin">Personal Pastebin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Task Manager</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="">Another Project</a>
      </li>
    </ul>

    <!-- Right-Hand Side -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" data-ng-init="sharedFunctions.AuthenticateUser()" ng-click="sharedFunctions.LogOut()">Log Out</a>
      </li>
    </ul>

  </div>

</nav>

<div class="alert text-center" role="alert" id="alert-pastebin-menu">
  <a class="white-link" href="" ng-click="NewPaste()"><i class="material-icons">insert_drive_file</i></a><br />
  <a class="white-link" href="" ng-click="SharePaste()"><i class="material-icons">share</i></a><br />
  <a class="white-link" href="" ng-click="ShowPasteHistory()"><i class="material-icons">history</i></a>
</div>

<textarea ng-model="pastebinData.code" id="pastebin-code"></textarea>

<div class="modal fade" id="pasteHistoryModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Paste History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Timestamp</th>
              <th scope="col">View</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="paste in pastebinData.history">
              <th scope="row">{{paste.charID}}</th>
              <td>{{paste.creationTime}}</td>
              <td><a href="" role="button" ng-click="ViewPaste(paste.charID)" class="btn btn-primary btn-sm">Open</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
