<div id="background-card" class="uk-card uk-card-default uk-card-body uk-flex-center card-slim">

  <form ng-submit="CreateUser()">

    <div class="center-div">
      <div class="uk-margin">
        <p class="uk-text-muted">Create a new user:</p>
        <div class="uk-inline">
          <input class="uk-input input-field short-text-box" ng-model="credentialsData.storeID" placeholder="Store ID" type="text">
          <input class="uk-input input-field short-text-box" ng-model="credentialsData.password" placeholder="Password" type="text">
          <input class="uk-input input-field short-text-box" ng-model="credentialsData.repeatPassword" placeholder="Repeat Password" type="text">
          <input class="uk-input input-field short-text-box" ng-model="credentialsData.firstName" placeholder="First Name" type="text">
          <input class="uk-input input-field short-text-box" ng-model="credentialsData.lastName" placeholder="Last Name" type="text">
          <button type="submit" class="uk-button uk-button-primary uk-button-small">Create</button>
        </div>
        <p ng-model="info">{{info}}{{results}}</p>
      </div>
    </div>

  </form>
  <form id="credentials-form" ng-submit="processCredentialsSearch()">

    <div class="center-div">
      <div class="uk-margin">
        <hr class="uk-divider-icon">
        <p class="uk-text-muted">Search:</p>
        <div class="uk-inline">
          <span class="uk-form-icon uk-icon" uk-icon="icon: search"></span>
          <input class="uk-input input-field short-text-box" ng-model="credentialsData.search" placeholder="Search" type="text">
          <button type="submit" class="uk-button uk-button-primary uk-button-small">Search</button>
        </div>
      </div>
    </div>

  </form>

</div>
